#wrapper{
	width:1300px;
	height:1000px;
	border:2px solid red;
	position:relative;
}

#head{
	width:1260px;
	height:244px;
	border:2px solid red;
	position:absolute;
	top:10px;
	right:24px;
	/* background:url("../imagesBusinessline/logo.gif") no-repeat; */
	 
	background:url("../imagesBusinessline/header_bg.gif") repeat-x
	scroll center top rgba(0,0,0,0);
}

#nav{
	width:1000px;
	height:70px;
	border:2px solid red;
	position:absolute;
	top:124px;
	right:127px;
	/* background:url("../imagesBusinessline/logo.gif") no-repeat; */
}